In [44]:
import pandas as pd
import requests
import json

headers = {
    "accept": "application/json",
    "Authorization": "Bearer *****"
}

#pd.options.display.max_columns = 30

In [ ]:
#Importing the Movies Dataset

In [49]:
# get the list of Franch movies releases in 1990-2009

base_url = "https://api.themoviedb.org/3/discover/movie?include_video=false&language=en&page={page}&primary_release_date.gte=1990-01-01&primary_release_date.lte=2009-12-31&with_original_language=fr&sort_by=primary_release_date.asc"
result = []
page_number = 1

while True:
    url = base_url.format(page = page_number)
    #print(url)
    response = requests.get(url, headers=headers)
    if response.status_code == 200:
        #print(page_number, response.json()["total_pages"])
        result.extend(response.json()["results"])
        if (page_number < response.json()["total_pages"]) & (page_number < 500):
            page_number += 1
        else:
            break
    else:
        print(f"Failed to retrieve data. Page {page_number} Status code: {response.status_code}")
        break
print(page_number)
print(response.json()["total_pages"])
movie_overview = pd.DataFrame(result)

485
485

In [73]:
movie_overview.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 9693 entries, 0 to 9692
Data columns (total 14 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   adult              9693 non-null   bool
 1   backdrop_path      2986 non-null   object
 2   genre_ids          9693 non-null   object
 3   id                 9693 non-null   int64
 4   original_language  9693 non-null   object
 5   original_title     9693 non-null   object
 6   overview           9693 non-null   object
 7   popularity         9693 non-null   float64
 8   poster_path        7490 non-null   object
 9   release_date       9693 non-null   object
 10  title              9693 non-null   object
 11  video              9693 non-null   bool
 12  vote_average       9693 non-null   float64
 13  vote_count         9693 non-null   int64
dtypes: bool(2), float64(2), int64(2), object(8)
memory usage: 927.8+ KB

In [68]:
movie_overview.tail(3)

,adult,backdrop_path,genre_ids,id,original_language,original_title,overview,popularity,poster_path,release_date,title,video,vote_average,vote_count
9690,False,/dp1968ZxAs1fd2kMWpfYvfZn2Lp.jpg,[18],56263,fr,Plein sud,"In the summer, 27 year-old Sam drives towards ...",3.784,/nbRu3zFmkvFxCyjYg8yT5oTWkZs.jpg,2009-12-30,Plein sud,False,5.7,33
9691,False,None,"[36, 10770]",997441,fr,Le mystère Joséphine,,0.600,/rJeawS1xBQ8yLN2bd4dkVjgegmH.jpg,2009-12-31,Le mystère Joséphine,False,0.0,0
9692,False,None,[28],292073,fr,Stop-and-Cop Interactive,"STOP + Cop = ""Stop"" or ""Slow down"" ? Make the ...",1.249,/sp1Qd1pmDpoW1gKhJHLHtpxRLFM.jpg,2009-12-31,Stop-and-Cop Interactive,False,8.5,28

In [69]:
# get detail information about the movie

base_url = "https://api.themoviedb.org/3/movie/{id}?language=en-US"
movie_ids = movie_overview["id"]
#movie_ids = [997441, 73371]
result = []
for i in movie_ids:
    url = base_url.format(id=i)
    response = requests.get(url, headers=headers)
    if response.status_code == 200:
        result.append(response.json())
    else:
        print(f"Failed to retrieve data. Movie id: {i} Status code: {response.status_code}")
        break 
movie_details = pd.DataFrame(result)

In [71]:
movie_details.head(5)

,adult,backdrop_path,belongs_to_collection,budget,genres,homepage,id,imdb_id,original_language,original_title,...,release_date,revenue,runtime,spoken_languages,status,tagline,title,video,vote_average,vote_count
0,False,None,None,0,[],,1184267,None,fr,Les dernières heures du millénaire,...,1990-01-01,0,8,"[{'english_name': 'French', 'iso_639_1': 'fr',...",Released,,Les dernières heures du millénaire,False,0.0,0
1,False,None,None,0,[],,1159410,None,fr,Mys et Thienot,...,1990-01-01,0,0,[],Released,,Mys et Thienot,False,0.0,0
2,False,None,None,0,[],,1117491,None,fr,Le soleil et ses traces,...,1990-01-01,0,0,"[{'english_name': 'French', 'iso_639_1': 'fr',...",Released,,Le soleil et ses traces,False,0.0,0
3,False,None,None,0,[],,1100948,None,fr,I Object,...,1990-01-01,0,5,[],Released,,I Object,False,0.0,0
4,False,None,None,0,[],,1095994,None,fr,Skolimowski à la table,...,1990-01-01,0,10,[],Released,,Skolimowski à la table,False,0.0,0

In [72]:
movie_details.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 9693 entries, 0 to 9692
Data columns (total 25 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   adult                  9693 non-null   bool
 1   backdrop_path          2987 non-null   object
 2   belongs_to_collection  239 non-null    object
 3   budget                 9693 non-null   int64
 4   genres                 9693 non-null   object
 5   homepage               9693 non-null   object
 6   id                     9693 non-null   int64
 7   imdb_id                7267 non-null   object
 8   original_language      9693 non-null   object
 9   original_title         9693 non-null   object
 10  overview               9693 non-null   object
 11  popularity             9693 non-null   float64
 12  poster_path            7489 non-null   object
 13  production_companies   9693 non-null   object
 14  production_countries   9693 non-null   object
 15  release_date           9693 non-null   object
 16  revenue                9693 non-null   int64
 17  runtime                9693 non-null   int64
 18  spoken_languages       9693 non-null   object
 19  status                 9693 non-null   object
 20  tagline                9693 non-null   object
 21  title                  9693 non-null   object
 22  video                  9693 non-null   bool
 23  vote_average           9693 non-null   float64
 24  vote_count             9693 non-null   int64
dtypes: bool(2), float64(2), int64(5), object(16)
memory usage: 1.7+ MB

In [74]:
df.tail(3)

,adult,backdrop_path,genre_ids,id,original_language,original_title,overview,popularity,poster_path,release_date,title,video,vote_average,vote_count
9690,False,/dp1968ZxAs1fd2kMWpfYvfZn2Lp.jpg,[18],56263,fr,Plein sud,"In the summer, 27 year-old Sam drives towards ...",3.784,/nbRu3zFmkvFxCyjYg8yT5oTWkZs.jpg,2009-12-30,Plein sud,False,5.7,33
9691,False,None,"[36, 10770]",997441,fr,Le mystère Joséphine,,0.600,/rJeawS1xBQ8yLN2bd4dkVjgegmH.jpg,2009-12-31,Le mystère Joséphine,False,0.0,0
9692,False,None,[28],292073,fr,Stop-and-Cop Interactive,"STOP + Cop = ""Stop"" or ""Slow down"" ? Make the ...",1.249,/sp1Qd1pmDpoW1gKhJHLHtpxRLFM.jpg,2009-12-31,Stop-and-Cop Interactive,False,8.5,28

In [75]:
movie_details.describe(include = "all")

,adult,backdrop_path,belongs_to_collection,budget,genres,homepage,id,imdb_id,original_language,original_title,...,release_date,revenue,runtime,spoken_languages,status,tagline,title,video,vote_average,vote_count
count,9693,2987,239,9.693000e+03,9693,9693,9.693000e+03,7267,9693,9693,...,9693,9.693000e+03,9693.000000,9693,9693,9693,9693,9693,9693.000000,9693.000000
unique,1,2952,114,NaN,641,474,NaN,6672,2,9564,...,3667,NaN,NaN,295,1,442,9573,1,NaN,NaN
top,False,/7tFOLDhZqKPactVlGfdjgVmYnlu.jpg,"{'id': 967037, 'name': 'The Adventures of Tint...",NaN,[],,NaN,,fr,Carmen,...,2009-01-01,NaN,NaN,"[{'english_name': 'French', 'iso_639_1': 'fr',...",Released,,Carmen,False,NaN,NaN
freq,9693,17,21,NaN,2545,9212,NaN,596,9692,6,...,168,NaN,NaN,5888,9693,9246,6,9693,NaN,NaN
mean,NaN,NaN,NaN,2.480805e+05,NaN,NaN,4.681917e+05,NaN,NaN,NaN,...,NaN,2.750938e+05,51.499536,NaN,NaN,NaN,NaN,NaN,3.022654,21.273290
std,NaN,NaN,NaN,2.548984e+06,NaN,NaN,3.367733e+05,NaN,NaN,NaN,...,NaN,4.596105e+06,50.066641,NaN,NaN,NaN,NaN,NaN,3.234216,166.474881
min,NaN,NaN,NaN,0.000000e+00,NaN,NaN,1.080000e+02,NaN,NaN,NaN,...,NaN,0.000000e+00,0.000000,NaN,NaN,NaN,NaN,NaN,0.000000,0.000000
25%,NaN,NaN,NaN,0.000000e+00,NaN,NaN,1.398480e+05,NaN,NaN,NaN,...,NaN,0.000000e+00,0.000000,NaN,NaN,NaN,NaN,NaN,0.000000,0.000000
50%,NaN,NaN,NaN,0.000000e+00,NaN,NaN,4.606940e+05,NaN,NaN,NaN,...,NaN,0.000000e+00,50.000000,NaN,NaN,NaN,NaN,NaN,1.000000,1.000000
75%,NaN,NaN,NaN,0.000000e+00,NaN,NaN,6.989100e+05,NaN,NaN,NaN,...,NaN,0.000000e+00,92.000000,NaN,NaN,NaN,NaN,NaN,6.000000,4.000000
max,NaN,NaN,NaN,9.725040e+07,NaN,NaN,1.186578e+06,NaN,NaN,NaN,...,NaN,2.451444e+08,999.000000,NaN,NaN,NaN,NaN,NaN,10.000000,10757.000000

In [ ]:
# Saving the Movies Dataset

In [77]:
movie_overview.to_csv("movie_overview_raw.csv", index = False)

In [76]:
movie_details.to_csv("movie_details_raw.csv", index = False)